.geralContainer{
    width: 100vw;
    padding: 2em 0em;
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

main {
    display: flex;
    justify-content: center;
    width: calc(100% - 18rem);
    box-sizing: border-box;
    /* Ensure children have a minimum width to prevent collapsing */
    min-width: 15rem;
}

.listContainer{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 2rem
}

.cardProductInfoContainer{
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardButtonsContainer{
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardButtonsContainer > * {
    width: 100%;
}


.productContainer{
    background-color: white;
    width: 15rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 1rem;justify-content: space-around;
    align-content: space-around;
    border: 1px solid gray;
    border-radius: 1rem;
}

.filterPanelContainer{
    background-color: white;

    width: 14rem;
    padding: 2rem;

    border-radius: 1rem;
    box-sizing: border-box;

    height: 38.5em;
}

